@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --cor-base: #fafafa;
    --cor-secundaria: #21092f;
    --cinza-primario: #dedddf;
    --font-principal: 'Space Grotesk', sans-serif;
}
body{
    font-family: var(--font-principal);
    font-size: 18px;
}
.container{
    background-color: var(--cor-base);
}
.bg-card{
    background: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;
}
.cards{
    max-width: 70%;
}
.card-back{
    position: relative;
    left: 25%;
    top: 10%;
}
.card-front{
    position: relative;
    bottom: 17%;
    left: 5%;
}
.container-formulario{
    margin-top: 50px;
}
/*Formulario*/
.inputs{
    display: block;
    margin: 8px 0 8px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid var(--cinza-primario);
    border-radius: 7px;
    background-color: var(--cor-base);
}
.forms{
    margin: 25px;
}
.label-inputs{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--cor-secundaria);
}
.botao-principal{
    padding: 14px;
    width: 100%;
    background-color: var(--cor-secundaria);
    border: none;
    color: var(--cor-base);
    font-family: var(--font-principal);
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
}


